[
 [:app "ctrl-shift-n" :workspace.new :workspace.add-folder :tabs.close-all]
 [:app "ctrl-shift-o" :workspace.show-recents]
 [:app "ctrl-shift-c" :console-tab :tabs.goto]
 [:app "ctrl-shift-d" :tabset.next (:add-browser-tab "http://devdocs.io")]
 [:app "ctrl-shift-b" :tabset.next :add-browser-tab :browser.url-bar.focus]
 [:app "ctrl-shift-t" :tabset.new]
 [:app "ctrl-shift-w" :tabset.close]
 [:app "ctrl-w" :tabs.close]
 [:app "ctrl-[" :tabs.prev]
 [:app "ctrl-]" :tabs.next]
 [:app "ctrl-left" :tabs.prev]
 [:app "ctrl-right" :tabs.next]

 [:editor "alt-w" :editor.watch.watch-selection]
 [:editor "ctrl-shift-a" :editor.select-all]
 [:editor "ctrl-a" :editor.line-start]
 [:editor "ctrl-e" :editor.line-end]
 [:editor "ctrl-d" :editor.delete-char-right]
 [:editor "ctrl-k" :editor.kill-line]
 [:editor "ctrl-f" :find.show]
 [:editor "ctrl-/" :toggle-comment-selection]
 [:editor "alt-shift-w" :editor.watch.unwatch]

 [:editor.keys.hinting.active "enter" :auto-complete.force]
]
