"*":
  "atom-shell-commands":
    commands: [
      {
        name: "commits_jump_next"
        command: "/Users/damo/bin/commits_jump_next.sh"
        options:
          cwd: "{FileDir}"
          silent: true
      }
      {
        name: "commits_jump_back"
        command: "/Users/damo/bin/commits_jump_back.sh"
        options:
          cwd: "{FileDir}"
          silent: true
      }
      {
        name: "coverage_flow_report"
        command: "flow-coverage-report"
        arguments: [
          "-i"
          "*.js"
          "-x"
          "lib/**"
          "-t"
          "html"
          "-o"
          "/tmp/flow-coverage-report"
        ]
        options:
          cwd: "{FileDir}"
          silent: true
      }
      {
        name: "coverage_flow"
        command: "flow"
        arguments: [
          "coverage"
          "{FileName}"
        ]
        options:
          cwd: "{FileDir}"
      }
    ]
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".hgrc"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "tree-view"
    ]
    telemetryConsent: "limited"
    themes: [
      "seti-ui"
      "monokai-seti"
    ]
  editor:
    fontFamily: "Source Code Pro"
    fontSize: 13
    showIndentGuide: true
    showInvisibles: true
  "exception-reporting":
    userId: "af233340-5c15-c53f-4f8b-e7aa03977dcf"
  "ide-flow":
    flowPath: "/Users/damo/.nvm/versions/node/v7.3.0/bin/flow"
  linter:
    errorPanelHeight: 180
  metrics:
    userId: "5afe01d925f56ca54ea8945b2cce677f8755be3a"
  nuclide:
    "nuclide-flow":
      enableStructuredTypeHints: true
  "tree-view":
    hideVcsIgnoredFiles: true
  welcome:
    showOnStartup: false
