'.platform-win32 .editor, .platform-linux .editor':
  'ctrl-e': 'editor:move-to-end-of-screen-line'

'atom-workspace atom-text-editor':
  'ctrl-a': 'editor:move-to-first-character-of-line'
  'ctrl-e': 'editor:move-to-end-of-screen-line'
  'ctrl-shift-a': 'core:select-all'

  # 'ctrl-left': 'atom-shell-commands:commits_jump_back'
  # 'ctrl-right': 'atom-shell-commands:commits_jump_next'
  'ctrl-shift-c': 'atom-shell-commands:coverage_flow_report'

  'cmd-left': 'pane:show-previous-item'
  'cmd-right': 'pane:show-next-item'


  'ctrl-left': 'editor:move-to-previous-subword-boundary'
  'ctrl-shift-left': 'editor:select-to-previous-subword-boundary'

  'ctrl-right': 'editor:move-to-next-subword-boundary'
  'ctrl-shift-right': 'editor:select-to-next-subword-boundary'
