;; User keymap
;; -----------------------------
;; Keymaps are stored as a set of diffs that are merged together to create
;; the final set of keys. You can modify these diffs to either add or
;; subtract bindings.
;;
;; Like behaviors, keys are bound by tag. When objects with those tags are active
;; the key bindings are live. Keys can be bound to any number of Light Table commands,
;; allowing you the flexibility to execute multiple operations together. To see a list
;; of all the commands you can execute, start typing a word related to the thing you
;; want to do in between the square brackets (e.g. type "editor").

{:+ {:app {"ctrl-shift-n" [:workspace.new :workspace.add-folder :tabs.close-all]
           "ctrl-shift-o" [:workspace.show-recents]
           "ctrl-0" [:console.hide :console.show :console-tab :tabs.goto :tabs.move-next-tabset]
           "ctrl-b" [:tabset.next :add-browser-tab :browser.url-bar.focus]
           "ctrl-[" [:tabs.prev]
           "ctrl-]" [:tabs.next]}

     :editor {"alt-w" [:editor.watch.watch-selection]
              "ctrl-shift-a" [:editor.select-all]
              "ctrl-a" [:editor.line-start]
              "ctrl-e" [:editor.line-end]
              "ctrl-d" [:editor.delete-char-right]
              "ctrl-k" [:editor.delete-group-right]
              "ctrl-f" [:find.show]
              "ctrl-/" [:toggle-comment-selection]
              "alt-shift-w" [:editor.watch.unwatch]}}}
