IntelliLang.xml
databaseSettings.xml
debugger.xml
diff.xml
dimensions.xml
feature.usage.statistics.xml
jdk.table.xml
mavenVersion.xml
path.macros.xml
project.default.xml
recentProjects.xml
statistics.application.usages.xml
stubIndex.xml
usage.statistics.xml
web-browsers.xml
window.manager.xml